<!DOCTYPE html>
<html lang="es">
    <head>
      {%  load static %}
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- bootstrap via cdn -->
      <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp"
          crossorigin="anonymous">
      <!--  fuente iconos -->
      <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          />
      <!-- css local -->
      <link rel="stylesheet" href="{% static 'css/style.css' %}">   
      <!-- fuentes -->
      <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Oswald">

            <title>Hotel Veranum</title>
    </head> 
    <body>

        <header id="Header" class="header">
              <img src="{% static 'img/Icon/Logo.png'%}" class="logo" alt="LOGO E-SPORTS">
              <ul class="nav-links">
                <li><a href="#">INICIO</a></li>
                <li><a href="#Noticias">VISION</a></li>
                <li><a href="{% url 'review' %}">HABITACIONES</a></li>
                <li><a href="{% url 'juegos'%}">HABITACIONES DISPONIBLES</a></li>
                {% if user.is_superuser %}
                <li><a href="{% url 'Gestion_juegos'%}">GESTION DE RESERVAS</a></li>
                {% else %}
                {% endif %}
                {% if request.user.is_authenticated %}
                <li><a href={% url 'exit' %}>CERRAR SESION COMO: {{user.username|upper}}</a></li>
                {% else %}
                <li><a href="{% url 'iniciar'%}">CUENTA</a></li>
                {% endif %}
                

              </ul>
          </header>
          <h1 id="Titulo">HOTEL VERANUM</h1>
          <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                aria-label="Slide 4"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
                aria-label="Slide 5"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5"
                aria-label="Slide 6"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active d-item">
                <a href="#">
                  <img src="{% static 'img/img/carrusel1.jfif'%}" class="d-block w-100 h-95  d-img" alt="slide 0">
                </a>
                <div class="carousel-caption mt-4">
                  <h2 class="display-1 fw-bolder text-uppercase">
                    Paraíso junto al mar
                  </h2>
                  <p class="mt-5 fs-3 text-uppercase">
                    disfruta de nuestras instalaciones en primera línea de playa
                  </p>
                </div>
              </div>
              <div class="carousel-item d-item">
                <a href="#">
                  <img src="{% static 'img/img/carrusel2.jfif'%}" class="d-block w-100 h-95  d-img" alt="slide 1">
                </a>
                <div class="carousel-caption mt-4">
                  <h2 class="display-1 fw-bolder text-uppercase">
                    Relájate y desconecta
                  </h2>
                  <p class="mt-5 fs-3 text-uppercase">
                    vive unas vacaciones idílicas en nuestro hotel frente al mar
                  </p>
                </div>
              </div>
              <div class="carousel-item d-item">
                <a href="#">
                  <img src="{% static 'img/img/carrusel3.jfif'%}" class="d-block w-100 h-95  d-img" alt="slide 2">
                </a>
                <div class="carousel-caption mt-4">
                  <h2 class="display-1 fw-bolder text-uppercase">
                    Actividades acuáticas sin límites
                  </h2>
                  <p class="mt-5 fs-3 text-uppercase">
                    descubre la diversión y aventura en nuestro hotel junto a la playa
                  </p>
                </div>
              </div>
              <div class="carousel-item d-item">
                <a href="#">
                  <img src="{% static 'img/img/carrusel4.jfif'%}" class="d-block w-100 h-95  d-img" alt="slide 3">
                </a>
                <div class="carousel-caption mt-4">
                  <h2 class="display-1 fw-bolder text-uppercase">
                    Ubicación privilegiada
                  </h2>
                  <p class="mt-5 fs-3 text-uppercase">
                    disfruta de la comodidad de nuestro hotel en el corazón de la ciudad
                  </p>
                </div>
              </div>
              <div class="carousel-item d-item">
                <a href="#">
                  <img src="{% static 'img/img/carrusel5.jfif'%}" class="d-block w-100 h-95  d-img" alt="slide 4">
                </a>
                <div class="carousel-caption mt-4">
                  <h2 class="display-1 fw-bolder text-uppercase">
                    Acceso conveniente a atracciones y servicios
                  </h2>
                  <p class="mt-5 fs-3 text-uppercase">
                    descubre todo lo que la ciudad tiene para ofrecer desde nuestro hotel
                  </p>
                </div>
              </div>
              <div class="carousel-item d-item">
                <a href="#">
                  <img src="{% static 'img/img/carrusel6.jfif'%}" class="d-block w-100 h-95  d-img" alt="slide 5">
                </a>
                <div class="carousel-caption mt-4">
                  <h2 class="display-1 fw-bolder text-uppercase">
                    Experiencia cosmopolita
                  </h2>
                  <p class="mt-5 fs-3 text-uppercase">
                    sumérgete en la vibrante vida urbana mientras te alojas en nuestro moderno hotel
                  </p>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        
          <!--Noticias-->
          <h1 id="Noticias" class="noticias-e-sports">TU HOGAR LEJOS DE CASA</h1>
          <div>
            <div class="contenedor-noticias">
              <p> </p>
              <h3 class="titulos-noticias">Vision</h3>
              <p> </p>
              <div class="contenedor-item">
                <a href="#">
                  <img src="{% static 'img/Icon/Portada.jfif'%}" alt="Logo lol" class="icono">
                </a>
                <p>
                  {% lorem 1 b random %}
                </p>
              </div>
        
              <h3 class="titulos-noticias">Nuestra sucursal en Viña</h3>
              <p> </p>
              <div class="contenedor-item">
                <a href="#">
                  <img src="{% static 'img/Icon/hotel1.jfif'%}" alt="Logo Valorant" class="icono">
                </a>
                <p>
                  {% lorem 1 b random %}
                </p>
              </div>
              <h3 class="titulos-noticias">Nuestra sucursal en Santiago</h3>
              <p> </p>
              <div class="contenedor-item">
                <a href="#">
                  <img src="{% static 'img/icon/hotel2.jfif'%}" alt="Logo valorant" class="icono">
                </a>
                <p>
                  {% lorem 1 b random %}
                </p>
        
              </div>
        
              <h3 class="titulos-noticias">Servicios extra</h3>
              <p> </p>
              <div class="contenedor-item">
                <a href="#">
                  <img src="{% static 'img/icon/Vino.jfif'%}" alt="Logo Valorant" class="icono">
                </a>
                <p>
                  {% lorem 1 b random %}
                </p>
        
              </div>
            </div>
          </div>
        
          <footer>
            <div class="footer-container">
              <p class="contac">CONTACTOS</p>
              <a href="#">
                <i class="fab fa-instagram"></i>
              </a>
              <a href="#">
                <i class="fab fa-instagram"></i>
              </a>
            </div>
          </footer>   
          <!--JavaScript-->
          <script src="{% static 'js/main.js'%}"></script>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
            crossorigin="anonymous"></script>
    </body>
</html>
